<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta charset="utf-8">
	<title>帮帮账智能票据</title>
	<link href="/img/favicon.png" rel="Shortcut Icon">
	<link rel="stylesheet" type="text/css" href="/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="/css/page_error.css"/>
	</head>
	<body class="zh_CN weui-desktop-page_simple page_error page_500">
	<div class="mp-head" id="header">
		<div class="weui-desktop-head">
			<div class="weui-desktop-head__inner">
				<div class="weui-desktop-layout">
					<div class="weui-desktop-layout__side">
					<h1 class="weui-desktop-logo">
					<a href="/" title="帮帮账智能票据中心"></a>
					</h1>
					</div>
					<div class="weui-desktop-layout__extra">
						<div class="weui-desktop-account"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="body" class="mp-body">
		<div class="weui-desktop-layout weui-desktop-layout_global">
			<div class="weui-desktop-layout__main">
				<div class="weui-desktop-layout__main__area">
					<div class="weui-desktop-layout__main__inner">
						<div class="weui-desktop-panel">
							<div class="page_error_msg">
								<div class="inner">
									<span class="icon_wrp"><i class="icon_page_error"></i></span>
									<div class="msg_content">
										<div id="_js_announcement"></div>
										<h2>您还没有在微信小程序中完善个人信息，请完善后再次登录!</h2>
										<a href='/'>返回登录</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>